/* RESET */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  font-family: Arial, sans-serif;
  background: #070b16;
  color: #eaf6ff;
}

/* HEADER */
.header{
  height:70px;
  background: #050811;
  border-bottom:1px solid #0af2ff33;
  padding:0 20px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  position:sticky;
  top:0;
  z-index:99;
}

.header-left{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo{
  width:46px;
  height:46px;
  border-radius:50%;
  border:2px solid cyan;
}

.header h1{
  font-size:18px;
  letter-spacing:2px;
}

.status{
  font-size:12px;
  color:#00ff88;
}

.header-right a{
  color:#00eaff;
  text-decoration:none;
  font-weight:bold;
}


/* LAYOUT */
.layout{
  display:flex;
  min-height: calc(100vh - 110px);
}


/* SIDEBAR */
.sidebar{
  width:220px;
  background:#050a16;
  border-right:1px solid #0af2ff22;
  padding:20px;
}

.sidebar h3{
  margin-bottom:12px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  padding:10px;
  border-radius:8px;
  cursor:pointer;
  margin-bottom:6px;
}

.sidebar li:hover,
.sidebar li.active{
  background:#00eaff22;
}

.sidebar-box{
  margin-top:20px;
  padding:12px;
  background:#0b1222;
  border-radius:10px;
  font-size:13px;
}


/* CONTENT */
.content{
  flex:1;
  padding:20px;
}


/* SEARCH */
.searchbox{
  margin-bottom:14px;
}

.searchbox input{
  width:100%;
  padding:12px 14px;
  border-radius:10px;
  border:none;
  background:#0b1222;
  color:white;
  outline:none;
}


/* PANEL */
.panel{
  background:#060a14;
  border:1px solid #0af2ff22;
  border-radius:12px;
  padding:14px;
}

#loading{
  text-align:center;
  padding:10px;
  color:#aaa;
}


/* GRID PRODUK */
.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
}


/* CARD PRODUK */
.card{
  background:#0b1222;
  border-radius:12px;
  padding:12px;
  border:1px solid #0af2ff22;

  display:flex;
  justify-content:space-between;
  align-items:center;

  transition:.2s;
}

.card:hover{
  transform:translateY(-2px);
  box-shadow:0 0 15px #00eaff22;
}

.card h3{
  font-size:14px;
}

.card p{
  font-size:12px;
  color:#bbb;
  margin-top:2px;
}


/* BUTTON */
.card button{
  background:#00eaff;
  color:#001018;
  border:none;
  border-radius:8px;
  padding:8px 12px;
  cursor:pointer;
  font-weight:bold;
}

.card button:hover{
  opacity:.9;
}


/* FOOTER */
.footer{
  height:40px;
  text-align:center;
  line-height:40px;
  background:#050811;
  border-top:1px solid #0af2ff22;
  font-size:12px;
}


/* RESPONSIVE */
@media(max-width:800px){

  .layout{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
    display:flex;
    gap:10px;
    overflow-x:auto;
  }

  .sidebar ul{
    display:flex;
    gap:8px;
  }

  .sidebar-box{
    display:none;
  }

  .grid{
    grid-template-columns:1fr;
  }

}
